header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10000000000000000000000000000000000000000;
}

.header-content {
  display: flex;
  justify-content: space-evenly;
  background-color: #061029;
  align-items: center;
}

nav {
  list-style: none; /* Tar bort pricken på länkarna */
}

nav li {
  display: inline-block; /* Placerar ul bredvid varandra */
  padding: 0px 2em;
}

nav a {
  transition: all 0.3s ease 0s;
}

.menu-btn,
li,
a {
  font-weight: 500;
  font-size: 18px; /* Storleken på texten  */
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

nav li a:hover,
.account:hover,
.search-box .cancel-btn:hover,
.search-box .search-btn:hover,
.account:hover {
  color: #ee2034;
  font-size: larger;
  transition: all 0.3s ease 0s;
}

.logo-img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.logo-img {
  width: 7rem;
}

.logo-link {
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

.menu-btn.active,
.menu-btn2.active,
.logo-btn.active {
  visibility: hidden;
  padding: 0;
  margin: 0;
}

.search-box {
  position: relative;
  height: 70px;
  width: 0px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 0.55);
}

.search-box input.active {
  cursor: text;
  transition: 0.5s;
  margin-left: 25vw;
  visibility: visible;
}

.search-box input {
  height: 60%;
  width: 100%;
  margin-top: 0.6rem;
  border: none;
  background: #fff;
  font-size: 18px;
  border-radius: 50px;
  padding: 0 60px 0 20px;
  cursor: default;
  visibility: hidden;
  transition: 0.5s ease-in;
}

.search-box.active {
  width: 45vw;
}

.search-box .search-btn {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 30%;
  margin-left: 1rem;
}

.search-box .search-btn.active {
  visibility: hidden;
}

.search-box .cancel-btn {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 30%;
  margin-left: 5.5rem;
  visibility: hidden;
}

.search-box .cancel-btn.active {
  visibility: visible;
}

.account {
  color: #fff;
  cursor: pointer;
  font-size: 21px;
  margin-right: 1rem;
  visibility: visible;
}

.account.active {
  visibility: hidden;
}
