.main-left {
  position: fixed;
  left: 0;
  top: 15%;
  width: 20vw;
  min-height: 85vh;
  background-color: #050e22;
}

.main-right {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0em 2em;
  padding-left: 12px;

  position: absolute;
  width: 78vw;
  top: 20%;
  background: #071331;
  right: 0;

  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 8px 20px 0 rgba(0, 0, 0, 0.8);
}

.background-color {
  display: grid;
  grid-template-columns: 20vw 1fr;
}

.profile-img {
  font-size: 2em;
  margin-left: 6px;
}

.profile:hover {
  color: #ee2034;
  background: #050e22;
}

.profile {
  display: flex;
  align-items: center;
  margin: 1.5rem 7px 1rem 8px;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.profile-text {
  margin-left: 5px;
}

.main-right img {
  width: 14rem;
}

.song-container {
  margin: 1.5rem 0 0 1rem;
  color: white;
}

.song-container .song-text {
  margin: 0;
}

.song-container:hover {
  cursor: pointer;
}
