.main-container {
  display: grid;
  grid-template-columns: 20vw 1fr;
  margin: 1rem 0px;
}

.main-left {
  margin-right: 1.5rem;
}

.profile-img {
  font-size: 2em;
}

.profile {
  display: flex;
  border: 1.5px solid black;
  height: 2.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.profile-text {
  margin-left: 5px;
}

.main-right img {
  width: 15rem;
}

.main-right {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5em 2em;
}

.song-img {
  padding: 1.5rem;
  border: 1.5px solid black;
}

.line {
  position: absolute;
  left: 19%;
  transform: translate(-50%);
  border: 2px solid black;
  min-height: 200%;
  z-index: 0;
}
