body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #061029;
}

#search {
  display: none;
}

#search-btn {
  color: #fff;
}

.fas {
  font-size: 1.2rem;
}

.close {
  cursor: pointer;
}

span {
  color: #fff;
}

button {
  background-color: #061029;
  border-style: none;
}
