@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Julius+Sans+One&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Audiowide", cursive;
  display: grid;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #061029;
  align-items: center;
}

.menubtn li,
a {
  font-weight: 500;
  font-size: 17px; /* Storleken på texten  */
  color: white;
  text-decoration: none;
}

nav {
  list-style: none; /* Tar bort pricken på länkarna */
}

nav li {
  display: inline-block; /* Placerar ul bredvid varandra */
  padding: 0px 4em;
}

nav a {
  transition: all 0.3s ease 0s;
}

nav li a:hover {
  color: #ee2034;
  background-color: #050e22;
}

nav li {
  display: inline-block; /* Placerar ul bredvid varandra */
  padding: 0px 4em;
}

nav a {
  transition: all 0.3s ease 0s;
}

nav li a:hover {
  color: #ee2034;
  background-color: #050e22;
}

nav li {
  display: inline-block; /* Placerar ul bredvid varandra */
  padding: 0px 4em;
}

nav a {
  transition: all 0.3s ease 0s;
}

nav li a:hover {
  color: #ee2034;
  background-color: #050e22;
}

nav li {
  display: inline-block; /* Placerar ul bredvid varandra */
  padding: 0px 4em;
}

nav a {
  transition: all 0.3s ease 0s;
}

nav li a:hover {
  color: #ee2034;
  background-color: #050e22;
}

nav li {
  display: inline-block; /* Placerar ul bredvid varandra */
  padding: 0px 4em;
}

nav a {
  transition: all 0.3s ease 0s;
}

nav li a:hover {
  color: #ee2034;
  background-color: #050e22;
}

nav li {
  display: inline-block; /* Placerar ul bredvid varandra */
  padding: 0px 4em;
}

nav a {
  transition: all 0.3s ease 0s;
}

nav li a:hover {
  color: #ee2034;
  background-color: #050e22;
}

nav li {
  /* display: inlin */e-block; /* Placerar ul bredvid varandra */
  padding: 0px 4em;
}

nav a {
  transition: all 0.3s ease 0s;
}

nav li a:hover {
  color: #ee2034;
  background-color: #050e22;
}

#search {
  .search-box {
    height: 60px;
    width:350px; ;
  }
  display: none;
  border: 1px solid white;
}

.search-box input.active {
}

.search-box input {
  height: 50%;
  width: 100%;
  border: none;
  background: #fff;
  font-size: 18px;
  border-radius: 50px;
  /* opacity: 0; */
  cursor: default;
}

.search-box.active {
  width: 350px;
  opacity: 1;
  color: #fff;
}

.search-box .search-btn {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.search-box .search-btn.active {
}

.search-box .cancel-btn {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  /* opacity: 0;   */
}

.search-box .cancel-btn.active {
  opacity: 1;
}
